.Rproj.user
.Rhistory
.RData
.Ruserdata
.directory
PensionAge-001.pdf
PensionAge.md
PensionAge.tex
PensionAge.pdf
Rcode/
figures/
_main.Rmd
_book/
_bookdown_files/
PensionAge_cache/
PensionAge_files/
oldpension*
